<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Untitled Document</title>
</head>
<link rel="stylesheet" href="/css/style1.css">

<body>
  <center>
    <div class="container">
      <header>

        <% if (!sendData.Email) { %>
        <div style="text-align: right;">
          <button class="open-button" onclick="openForm()">Show Login Panel</button>
        </div>
        <% } else { %>
        <div style="text-align: right;">
          <form action="/action_logout" method="GET">
            Member : <%- sendData.NickName %> (<%- sendData.GradeID %>) <button type="submit"
              class="btn">LogOut</button>
          </form>
        </div>
        <% } %>

      </header>
      <bar><img src="img/bar.jpg" alt="BAR Image" width="100%" height="100%"></bar>
      <nav>

        <% if (!sendData.Email) { %>
        <div style="text-align: center;">
          <form action="/register" method="GET">
            <button type="submit" class="btn">Register</button>
          </form>
        </div>
        <% } else { %>
        <div style="text-align: right;">
          <center>
            Menu</br>
            <a href="home">Main Page</a></br>
            <a href="main_profile">Main My Profile</a></br>
            <a href="main_myitem">Main My Item</a></br>
          </br>
            <a href="action_profile">Page My Profile</a></br>
            <a href="action_myitem">Page My Item</a></br>
            </br>
          </center>
        </div>
        <% } %>

      </nav>
      <main>

        <% if (!sendData.Email) { %>

        MAIN NO LOGIN

        <% } else if (sendData.Page == 'Profile') { %>

        <% include profile.ejs %>

        <% } else if (sendData.Page == 'MyItem') { %>

        <% include myitem.ejs %>

        <% } else { %>

        MAIN

        <% } %>

      </main>
      <aside>ASIDE</aside>
      <emptyleft id="emptyleft">EMPTY LEFT</emptyleft>
      <emptyright id="emptyright">EMPTY RIGHT</emptyright>
      <footer>FOOTER</footer>
    </div>
  </center>

  <script>
    function openForm() {
      document.getElementById("popup_login").style.display = "block";
    }

    function closeForm() {
      document.getElementById("popup_login").style.display = "none";
    }
  </script>

  <div class="form_popup" id="popup_login">
    <div class="form_login">
      <center>
        <form action="/action_login" class="form-container" method="POST">
          <h1>Login</h1>

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <button type="submit" class="btn">Login</button>
          <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </center>
    </div>
  </div>
</body>

</html>