<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
</head>
<link rel="stylesheet" href="/css/style1.css">

<body>
    EJS Data: <% if (sendData) { %>
    <h2>Show Views : <%- sendData.ShowViews %></h2>
    <h2>Message Server : <%- sendData.MsgServer %></h2>
    <% } %>

    <% if (!sendData.CheckLogin) { %>
    <a href="/">Please Login first back to home</a>
    <% } %>

    <% if (sendData.CheckLogin) { %>
    <h1>Member List</h1>

    <table width="200" border="1">
        <tr>
            <td>InvenID</td>
            <td>ItemID</td>
            <td>ItemName</td>
            <td>Amount</td>
        </tr>
        <%- sendData.data_row %>
    </table>

    <a href="/">Goto Home</a>
    <% } %>

</body>

</html>