<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Untitled Document</title>
</head>
<link rel="stylesheet" href="/css/style1.css">

<body>
  EJS Data: <% if (sendData) { %>
  <h2>Show Views : <%- sendData.ShowViews %></h2>
  <h2>Message Server : <%- sendData.MsgServer %></h2>
  <% } %>

  <% if (!sendData.GetActionChangeProfile) { %>
  <h1>Profile Data</h1>
  <h2>NickName : <%- sendData.GetNickName %></h2>
  <h2>Age : <%- sendData.GetGradeID %></h2>
  <form action="/action_profile" method="GET">
    <input type="text" placeholder="Enter Password" name="editprofile" value="true" style="display:none">
    <button type="submit" class="btn">Change Profile</button>
  </form>
    <a href="/">Goto Home</a>
  <% } %>

  <% if (sendData.GetActionChangeProfile) { %>
    <h1>Change Profile Data</h1>
    <form action="/action_profile"method="POST">

        <label for="nickname"><b>NickName</b></label>
        <input type="text" placeholder="Enter New NickName" name="nickname" value=<%- sendData.GetNickName %>>

        <label for="age"><b>Age</b></label>
        <input type="text" placeholder="Enter New Age" name="age" value=<%- sendData.GetGradeID %>>

        <button type="submit" class="btn">Change</button>
      </form>
      <a href="/action_profile">Goto Profile</a>
      <a href="/">Goto Home</a>
    <% } %>
</body>

</html>