<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
</head>
<link rel="stylesheet" href="/css/style1.css">

<body>
    EJS Data: <% if (sendData) { %>
    <h2>Show Views : <%- sendData.ShowViews %></h2>
    <h2>Message Server : <%- sendData.MsgServer %></h2>
    <% } %>

    <h1>Register</h1>
    <form action="/action_register" method="POST">

        <label for="username"><b>UserName</b></label>
        <input type="text" placeholder="Enter New UserName" name="username">
        <br>
        <label for="username"><b>Password</b></label>
        <input type="password" placeholder="Enter New Password" name="password">
        <br>
        <label for="username"><b>Verify Password</b></label>
        <input type="password" placeholder="Enter Password Again" name="passwordverify">
        <br>
        <label for="nickname"><b>NickName</b></label>
        <input type="text" placeholder="Enter New NickName" name="nickname">
        <br>
        <label for="age"><b>Age</b></label>
        <input type="text" placeholder="Enter New Age" name="age">
        <br>
        <label for="nickname"><b>Company</b></label>
        <input type="text" placeholder="Enter Company Name" name="company">

        <button type="submit">Register</button>
        <button type="reset">Reset Field</button>
    </form>
    <a href="/">Goto Home</a>
</body>

</html>