body {
  margin: 0;
}

.container {
  display: grid;
  display: grid;
  grid-template-rows: 1.5em 250px 1fr 1em;
  grid-template-columns: 128px 192px 640px 192px 128px;
  grid-template-areas: "header header header header header" "bar bar bar bar bar" "emptyleft nav main aside emptyright" "footer footer footer footer footer";
  grid-gap: .1em;
  justify-content: center;
}

@media (max-width: 1305px) {
  .container {
    width: 1110px;
    grid-template-rows: 1.5em 200px 1fr 1em 0px;
    grid-template-columns: 1.5fr 5fr 1.5fr;
    grid-template-areas: "header header header" "bar bar bar" "nav main aside" "footer footer footer" "emptyleft emptyright emptyright";
  }
  #emptyleft, #emptyright {
    visibility: hidden;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 860px;
    grid-template-rows: 1.5em 200px 1fr 1em 0px;
    grid-template-columns: 1.5fr 5fr 1.5fr;
    grid-template-areas: "header header header" "bar bar bar" "nav main aside" "footer footer footer" "emptyleft emptyright emptyright";
  }
  #emptyleft, #emptyright {
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .container {
    width: 600px;
    grid-template-rows: 1.5em 5em 1fr 1em;
    grid-template-columns: 1.5fr 3fr 1fr 1.5fr;
    grid-template-areas: "header header header header" "nav bar bar bar" "nav main main aside" "footer footer footer footer";
  }
  #emptyleft, #emptyright {
    display: none;
  }
}

@media (max-width: 600px) {
  .container {
    width: 480px;
    grid-template-rows: 1.5em 5em 1fr 1em;
    grid-template-columns: 1.5fr 3fr 1fr 1.5fr;
    grid-template-areas: "header header header header" "nav bar bar bar" "nav main main aside" "footer footer footer footer";
  }
  #emptyleft, #emptyright {
    display: none;
  }
}

@media (max-width: 480px) {
  .container {
    display: block;
  }
}

.container header {
  grid-area: header;
  background-color: teal;
}

.container nav {
  grid-area: nav;
  background-color: tomato;
}

.container bar {
  grid-area: bar;
  background-color: khaki;
}

.container main {
  grid-area: main;
  background-color: lightblue;
}

.container aside {
  grid-area: aside;
  background-color: darkgreen;
}

.container footer {
  grid-area: footer;
  background-color: aquamarine;
}

.container emptyleft {
  grid-area: emptyleft;
  background-color: grey;
}

.container emptyright {
  grid-area: emptyright;
  background-color: grey;
}

/*Login Form*/
.form_popup {
  width: 100%;
  top: 0;
  bottom: 0;
  display: none;
  position: fixed;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: grey;
}

.form_login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px 0px 15px 0px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}